<div class="middle">
    <div class="ip-data">
        <pre>Status :{{data?.status}} <br>
            continent: {{data?.continent}} <br>
            continentCode: {{data?.continentCode}} <br>
            country: {{data?.country}} <br>
            countryCode: {{data?.countryCode}} <br>
            region: string : {{data?.region}} <br>
            regionName: {{data?.regionName}} <br>
            city: {{data?.city}} <br>
            district: {{data?.district}} <br>
            zip: {{data?.zip}} <br>
            lat: {{data?.lat}} <br>
            lon: {{data?.lon}} <br>
            timezone: {{data?.timezone}} <br>
            offset: {{data?.offset}} <br>
            currency: {{data?.currency}} <br>
            isp: {{data?.isp}} <br>
            org: {{data?.org}} <br>
            as: {{data?.as}} <br>
            asname: {{data?.asname}} <br>
            reverse: {{data?.reverse}} <br>
            mobile: {{data?.mobile}} <br>
            proxy: {{data?.proxy}} <br>
            hosting: {{data?.hosting}}</pre>
    </div>
</div>
